.input {
    background-color: var(--mantine-color-white);
    border-color: var(--mantine-color-gray-4);
    color: var(--mantine-color-black);

    &::placeholder {
        color: var(--mantine-color-gray-5);
    }
}

.inputLabel {
    width: 350px;
    color: var(--mantine-color-black);
}

.control {
    background-color: var(--mantine-color-blue-6);
}

.form {
    background-color: var(--mantine-color-white);
    padding: var(--mantine-spacing-xl);
    border-radius: var(--mantine-radius-md);
    box-shadow: var(--mantine-shadow-lg);
}

.card {
    cursor: pointer;
    border: rem(1px) solid light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-5));
}

.cardTitle {
    &::after {
        content: '';
        display: block;
        background-color: var(--mantine-color-blue-filled);
        width: rem(45px);
        height: rem(2px);
        margin-top: var(--mantine-spacing-sm);
    }
}

.cardActive {
    cursor: pointer;
    border: rem(5px) solid teal;
}